@model cowba_saying.Models.SayingViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>靠北圖片產生器</h1>
    <p class="lead">你確定你還要相信名人說的話嗎???</p>
</div>

    


@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { style = "form-search", id = "Myform", enctype = "multipart/form-data" }))
{
    <label for="file">Upload Image:</label>
    <input type="file" name="file"  style="width: 100%;" />


            <br>
    @Html.TextBoxFor(m => m.Saying, new { placeholder = "說啥", @class = "nav-search-input" })
            <p>From</p>
    @Html.TextBoxFor(m => m.Name, new { placeholder = "誰", @class = "nav-search-input" })
            <br>
            <br>
            <br>
    <input type="submit" value="Upload" class="submit" />
}
<br />
<hr />
<img src="@Url.Content("~/image/result/result2.jpg")" alt="Alternate Text" />
<hr />
<button>下載圖片</button>
<button>share to 民X黨</button>



